.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 1rem;
  text-align: center;
  color: #444;
  font-weight: 600;
}
